// Custom common variables
@import '../app-variables';

GridLayout {
    margin: 40, 30, 0, 30;
}

Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: $blue-light;
  color: white;
  margin-top: 20;
}
